name: Build payload

on: [ push, pull_request ]

jobs:
  payload-build:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up GCC
      uses: illusion0001/gha-setup-gcc@master
      with:
        version: 9
        platform: x64

    - name: Build
      run: make

    - name: Upload payload
      uses: actions/upload-artifact@v3
      with:
        name: ftps5
        path: ./*.elf
        if-no-files-found: error
